/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import "design/functions";
@import "design/mixins";

@include selector-class("dialog@file-attachment") {
	width: space(350);
	height: space(200);

	background-color: var(--bg);
	font-size: 14px;
	user-select: none;

	@include --theme using ($name) {
		@if $name == dark {
			--bg: #31363a;
		} @else if $name == light {
			--bg: #f5f5f5;
		}
	}

	label {
		outline: 2px dashed currentColor;
	}

	input[type="file"] {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}
}
