/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@import "design/functions";
@import "design/mixins";

@include selector-class("login@form") {
	background-color: var(--bg);
	color: var(--color);

	> div:not(:last-child) {
		@include --theme using ($name) {
			@if $name == dark {
				border-bottom: 1px ridge var(--color-grey800);
			} @else if $name == light {
				border-bottom: 1px solid var(--color-indigo100);
			}
		}
	}

	@include --theme using ($name) {
		@if $name == dark {
			--bg: #3c4043;
			--color: var(--color-snow);
		} @else if $name == light {
			--bg: var(--color-indigo50);
			--color: var(--color-grey800);
			filter: none;
		}
	}

	> div {
		display: flex;
		gap: space(1);
		padding-block: space(1);
		overflow: clip;
	}

	:is(label, span) {
		width: space(32);
	}

	svg {
		vertical-align: top;
	}

	input {
		font-size: 14px;

		width: 100%;
		height: space(24);
		padding: space(1);
		border-radius: 2px;

		&::placeholder {
			@include --theme using ($name) {
				@if $name == dark {
					color: #cfceb3;
				}
			}
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			@include --theme using ($name) {
				@if $name == dark {
					box-shadow: 0 0 0 1in #3c4043 inset !important;
				}
			}

			-webkit-text-fill-color: #ef4836 !important;
		}
	}
}

@include selector-class("login@channel:label") {
	--bg: var(--color-black);
	--color: var(--color-snow);

	background-color: var(--bg);
	color: var(--color);
	font-size: 14px;

	&.is-selected {
		@include --theme using ($name) {
			@if $name == dark {
				--bg: var(--color-red300);
				--color: var(--color-black);
			} @else if $name == light {
				--bg: var(--color-red200);
				--color: var(--color-black);
			}
		}
	}
}

@include selector-class("login@channel:input") {
	caret-color: transparent;
}
