.cargo/*
!.cargo/*.example.toml

.fleet/*
.idea/*
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json

.phisyrc/*

dist
dist-ssr
node_modules/
target/

*.lock
*-lock.yaml

.env
.env.local
.env.*.local
