/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@mixin --use-resizing {
	@include selector-class("resizable") {
		overflow: hidden;
		resize: both;
	}

	@include selector-class("resizable:x") {
		overflow-x: hidden;
		resize: horizontal;
	}

	@include selector-class("resizable:y") {
		overflow-y: hidden;
		resize: vertical;
	}
}
