/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@include selector-class("app:bg=design-system") {
	background: conic-gradient(
		rgba(var(--bg), 0.6) 25%,
		rgba(var(--bg), 0.65) 0deg 50%,
		rgba(var(--bg), 0.6) 0deg 75%,
		rgba(var(--bg), 0.65) 0deg
	);
	background-size: 25px 25px;

	@include --theme using ($name) {
		@if $name == dark {
			--bg: var(--color-light-bluea700_rgb);
		} @else if $name == light {
			--bg: var(--color-light-blue900_rgb);
		}
	}
}
