/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

#🆔 {
	@extend .ov\:h;

	width: 100vw;
	height: 100vh;

	transition: box-shadow 0.2s;

	font-family: Nunito, Roboto, -apple-system, BlinkMacSystemFont, Arial,
		sans-serif;
}

#🆔 > .app {
	@extend .ov\:h;

	background: var(--app-background);

	box-shadow: inset 0 0 0 space(1) var(--default-border-color),
		inset -4px -4px calc(space(1) + 2px)
			hsla(var(--color-grey800_hsl), var(--default-background-opacity));

	@include --theme using ($name) {
		@if $name == light {
			--app-background: linear-gradient(
					180deg,
					var(--color-grey50) 0%,
					var(--color-indigo50) 100%
				),
				var(--color-grey50);
		} @else if $name == dark {
			--app-background: linear-gradient(180deg, #31363a 0%, #282c2f 100%),
				#31363a;
		}
	}
}
