/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@include selector-class("sidebar__actions") {
	@include --theme using ($name) {
		@if $name == dark {
			background-color: #31363a;
		} @else if $name == light {
			background-color: #fafafa;
		}
	}
}

@include selector-class("network<server>") {
	> li {
		display: grid;
		grid-template-columns: space(3) 1fr auto;

		justify-content: space-between;
		align-items: center;
		grid-column-gap: space(1);
		grid-row-gap: calc(space(1) / 2);

		min-height: space(6);
		padding: space(1);

		outline: none;

		border-left: 2px solid transparent;

		cursor: pointer;
		user-select: none;
	}
}

@include selector-class("network@server__actions") {
	button {
		padding: space(1);
	}
}

@include selector-class("network@server@room__total-unread-message") {
	font-size: 12px;

	@include --theme using ($name) {
		@if $name == dark {
			background-color: #212121;
		} @else if $name == light {
			background-color: #c5cae9;
			color: var(--default-text-color);
		}
	}

	.is-not-active:not(:hover) & {
		display: block;
	}

	.is-not-active:hover & {
		display: none;
	}

	.is-active & {
		display: none;
	}
}

@include selector-class("network@server@room:close") {
	.is-not-active:not(:hover) & {
		display: none;
	}

	.is-active & {
		display: block;
	}
}

@include selector-class("network@server@room__last-message") {
	--color: var(--default-text-color);
	--bg: transparent;

	background-color: hsla(var(--bg), 0.5);
	color: var(--color);

	@include --theme using($name) {
		@if $name == dark {
			--bg: var(--color-grey800_hsl);
		} @else if $name == light {
			--bg: var(--color-grey200_hsl);
		}
	}
}
