/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@include selector-class("sidebar<svg>") {
	svg {
		width: 20px;
		height: 20px;
	}
}

@include selector-class("sidebar__actions") {
	@include --theme using ($name) {
		@if $name == dark {
			background-color: #31363a;
		} @else if $name == light {
			background-color: #fafafa;
		}
	}
}

@include selector-class("network<server>") {
	> li {
		display: grid;
		grid-template-columns: space(3) 1fr auto;

		justify-content: space-between;
		align-items: center;
		grid-column-gap: space(1);
		grid-row-gap: calc(space(1) / 2);

		min-height: space(6);
		padding: space(1);

		outline: none;

		border-left: 2px solid transparent;

		cursor: pointer;
		user-select: none;

		@include --theme using($name) {
			@if $name == dark {
				--focused_bg: var(--color-black);
			} @else if $name == light {
				--focused_bg: var(--color-white);
			}
		}
	}

	&.is-focused li[data-type="server"] {
		background-color: var(--focused_bg);
	}

	&.is-folded {
		> *:not(:first-child) {
			display: none;
		}
	}
}

@include selector-class("network@server__actions") {
	button {
		padding: space(1);
	}
}

@include selector-class("network@server@room") {
	transition: background-color 200ms;

	@include --theme using($name) {
		@if $name == dark {
			&:hover {
				background-color: var(--focused_bg);
			}
		} @else if $name == light {
			&:hover {
				background-color: var(--color-snow);
			}
		}
	}

	&.is-active {
		position: relative;
		background-color: var(--focused_bg);
	}

	&.is-active {
		&::before,
		&::after {
			content: "";

			position: absolute;
			display: inline-block;
			pointer-events: none;
			transition: background-color 200ms ease-in-out;

			height: space(2);
			width: space(2);
		}

		&::before {
			top: -16px;
			right: 0;
			background: radial-gradient(
				circle at 0 0,
				transparent space(2),
				var(--focused_bg) space(2)
			);
		}

		&::after {
			bottom: -16px;
			right: 0;
			background: radial-gradient(
				circle at 0 100%,
				transparent space(2),
				var(--focused_bg) space(2)
			);
		}
	}
}

@include selector-class("network@server@room__total-unread-message") {
	font-size: 12px;

	@include --theme using ($name) {
		@if $name == dark {
			background-color: #212121;
		} @else if $name == light {
			background-color: #c5cae9;
			color: var(--default-text-color);
		}
	}

	.is-not-active:not(:hover) & {
		display: block;
	}

	.is-not-active:hover & {
		display: none;
	}

	.is-active & {
		display: none;
	}
}

@include selector-class("network@server@room:close") {
	.is-not-active:not(:hover) & {
		display: none;
	}

	.is-active & {
		display: block;
	}
}

@include selector-class("network@server@room__last-message") {
	--color: var(--default-text-color);
	--bg: transparent;

	background-color: hsla(var(--bg), 0.5);
	color: var(--color);
	font-size: 14px;

	@include --theme using($name) {
		@if $name == dark {
			--bg: var(--color-grey800_hsl);
		} @else if $name == light {
			--bg: var(--color-grey200_hsl);
		}
	}
}

@include selector-class("network@server@room--has-events") {
	@include --theme using($name) {
		@if $name == dark {
			color: var(--color-blue);
		} @else if $name == light {
			color: var(--color-blue700);
		}
	}
}

@include selector-class("network@server@room--has-messages") {
	color: var(--color-red);
}

@include selector-class("network@server@room--highlight") {
	color: var(--color-green);
	animation: blink 1s step-start 0s infinite;
}

@keyframes blink {
	50% {
		opacity: 0.5;
	}
}
