/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

$app-palette-dark-colors: (
	black: #212121,
	grey: #3c4043,
	snow: #eaf2f4,
	red: #ef4836,
	yellow-grey: #cfceb3,
	yellow: #d8af20,
);

$app-palette-light-colors: (
	black: #212121,
	red: #ef4836,
	snow: #eaf2f4,
);
