/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@mixin --use-width {
	@include selector-class("size:full") {
		width: 100%;
	}
	@include selector-class("s:full") {
		width: 100%;
	}
	@include selector-class("w:full") {
		width: 100%;
	}

	// @for $size from 0 through $for-loop-max-iterations {
	// 	%w\=#{$size} {
	// 		width: space($size);
	// 	}
	// 	%max-w\=#{$size} {
	// 		max-width: space($size);
	// 	}
	// 	%min-w\=#{$size} {
	// 		min-width: space($size);
	// 	}

	// 	@include selector-class("w=#{$size}") {
	// 		@extend %w\=#{$size};
	// 	}
	// 	@include selector-class("size=#{$size}") {
	// 		@extend %w\=#{$size};
	// 	}
	// 	@include selector-class("s=#{$size}") {
	// 		@extend %w\=#{$size};
	// 	}

	// 	@include selector-class("max-w=#{$size}") {
	// 		@extend %max-w\=#{$size};
	// 	}
	// 	@include selector-class("min-w=#{$size}") {
	// 		@extend %min-w\=#{$size};
	// 	}
	// }
}

@mixin --use-height {
	@include selector-class("size:full") {
		height: 100%;
	}
	@include selector-class("s:full") {
		height: 100%;
	}
	@include selector-class("h:full") {
		height: 100%;
	}

	// @for $size from 0 through $for-loop-max-iterations {
	// 	%h\=#{$size} {
	// 		height: space($size);
	// 	}
	// 	%max-h\=#{$size} {
	// 		max-height: space($size);
	// 	}
	// 	%min-h\=#{$size} {
	// 		min-height: space($size);
	// 	}

	// 	@include selector-class("h=#{$size}") {
	// 		@extend %h\=#{$size};
	// 	}
	// 	@include selector-class("size=#{$size}") {
	// 		@extend %h\=#{$size};
	// 	}
	// 	@include selector-class("s=#{$size}") {
	// 		@extend %h\=#{$size};
	// 	}

	// 	@include selector-class("max-h=#{$size}") {
	// 		@extend %max-h\=#{$size};
	// 	}
	// 	@include selector-class("min-h=#{$size}") {
	// 		@extend %min-h\=#{$size};
	// 	}
	// }
}
