/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@mixin --use-list {
	@include selector-class("list:reset") {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}
