/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at https://mozilla.org/MPL/2.0/.
 */

@mixin --use-misc-effects {
	@include selector-class("box:shadow") {
		@include --theme using($name) {
			@if $name == dark {
				box-shadow: 2px 2px 4px rgba(#fff, 0.25);
			} @else if $name == light {
				box-shadow: 2px 2px 4px rgba(#000, 0.25);
			}
		}
	}

	@include selector-class("box-fd:shadow") {
		filter: drop-shadow(2px 2px 4px var(--shadow-color));
		@include --theme using($name) {
			@if $name == dark {
				--shadow-color: #{rgba(#fff, 0.5)};
			} @else if $name == light {
				--shadow-color: #{rgba(#000, 0.25)};
			}
		}
	}
}
